services:
  app:
    image: giovacaluna96/tata:${IMAGE_TAG:-latest}
    expose:
      - "3000"
    environment:
      - API_KEY=${API_KEY}
      - JWT_SECRET=${JWT_SECRET}
      - REDIS_HOST=redis
    deploy:
      replicas: 2
    depends_on:
      - redis

  redis:
    image: redis:alpine
    expose:
      - "6379"

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "80:80"
    depends_on:
      - app
